{% extends "base.html" %}

{% block title %}Nova construtora | Smartworker{% endblock %}
{% block page_title %}Nova construtora{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-lg-8 col-xl-6">
      <div class="card card-primary card-outline">
        <form method="post" novalidate>
          {% csrf_token %}
          <div class="card-body">
            {% include "includes/form_fields.html" %}
          </div>
          <div class="card-footer d-flex gap-2">
            <button type="submit" class="btn btn-primary"><i class="bi bi-check-lg me-1"></i>Salvar</button>
            <a href="{% url 'management:index' %}" class="btn btn-link">Cancelar</a>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
